<table class="table" ng-controller="tableController">
	<thead>
	  <tr><th colspan="5">Premier League Table</th></tr>
	  <tr>
	    <th width="50">Pos</th>
	    <th>Team</th>
	    <th>Played</th>
	    <th>Goal Difference</th>
	    <th>Points</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="team in standings">
	    <td>{{$index + 1}}</td>
	    <td>
	      {{team.Team.name}}
	    </td>
	    <td>{{team.played}}</td>
	    <td>{{team.goalDifference}}</td>
	    <td>{{team.points}}</td>
	  </tr>
	</tbody>
</table>
