<div ng-controller="tableController">
	<input class="form-control" value="" type="text" ng-model="nameFilter" placeholder="Search...">

	<table class="table">
		<thead>
		  <tr><th colspan="5">Premier League Table</th></tr>
		  <tr>
		    <th width="50">Pos</th>
		    <th>Team</th>
		    <th>Played</th>
		    <th>Goal Difference</th>
		    <th>Points</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="team in standings | filter: searchFilter">
		    <td>{{team.position}}</td>
		    <td>
		      <a href="#/team/{{team.Team.id}}">{{team.Team.name}}</a>
		    </td>
		    <td>{{team.played}}</td>
		    <td>{{team.goalDifference}}</td>
		    <td>{{team.points}}</td>
		  </tr>
		</tbody>
	</table>
</div>
