<div class="jumbotron" ng-show="team">
	<div class="container">
		<h1>
			<img src="{{team.Team.badge}}">
			{{team.Team.name}}
		</h1>
		<p>
			<strong>League Position:</strong> {{team.position}}<br>
			<strong>Form:</strong> {{team.form}}
		</p>
	</div>
</div>

<div class="container">
	<div ng-show="nextMatch">
		<h2>Next Match</h2>
		<p>
			<a href="#/team/{{nextMatch.homeTeam.id}}">{{nextMatch.homeTeam.name}}</a> v <a href="#/team/{{nextMatch.awayTeam.id}}">{{nextMatch.awayTeam.name}}</a><br>
			<span>{{nextMatch.date | date:'EEEE d MMMM HH:mm':'+0200'}}</span>
		</p>
	</div>
	<div ng-show="lastMatch">
		<h2>Last Match</h2>
		<p>
			<a href="#/team/{{lastMatch.homeTeam.id}}">{{lastMatch.homeTeam.name}}</a> {{lastMatch.scoreHome}} - {{lastMatch.scoreAway}} <a href="#/team/{{lastMatch.awayTeam.id}}">{{lastMatch.awayTeam.name}}</a><br>
			<span>{{lastMatch.date | date:'EEEE d MMMM HH:mm':'+0200'}}</span>
		</p>
	</div>
</div>

